{{ form_start(form, {'attr': {'id': 'domaine_form'}}) }}
    <div class="mb-3">
        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom du domaine'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description du domaine', 'rows': 4}}) }}
    </div>
    {# Le bouton de soumission est maintenant dans le card-footer de la vue edit/new #}
{{ form_end(form) }}
